<h1>dragonbol seta</h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <ul>
            <li>kuririn - 75,000</li>
            <li>kokun - 150,000,000</li>
            <li>begita - 3,000,000</li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar</h3>
        <hr>

        <form>
            <input type="text" placeholder="Nombre"/>
            <input type="number" placeholder="Nivel de pelea"/>
            <button>Agregar</button>
        </form>
    </div>
</div>